body,html,#app{
  width: 100%;
	height: 100%;
	margin:auto;
}
#journal{
  font-style: italic;
  text-align: center;
}
#title{
  font-family: 'Cutive Mono', monospace;
  margin-bottom: 8vh;
}
#title h1{
  font-weight: 700;
}
#log-title{
  font-family: 'Cutive Mono', monospace;
  font-size: 16px;
  font-weight: 700;
  padding-left: 2rem;
}
#log-entry p{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  padding-bottom: 15px;
}
#log-entry{
  padding: 10px;
}
#log-end{
  font-family: 'Cutive Mono', monospace;
  font-size: 16px;
  text-align: center;
  color: #888;
}
.fa{
  color: #9d9d9d;
}
.nav>li>a{
  padding: 10px;
}
.nav>li>a .fa:hover{
  color: #fff;
}
.navbar-right{
  padding-right: 10px;
  padding-top: 5px;
}